<!DOCTYPE html>
<html>
  <head>
    <title>{$TITLE|default:'HomegrownMVC Skeleton'}</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/styles.css">
    {block name="styles"}{/block}
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/app.js"></script>
    {block name="scripts"}{/block}
  </head>
  <body>
    <header>
      {include file="views/includes/header.html"}
    </header>

    {* Views that extend this one can insert their content here by creating a block named "content" *}
    <div class="container">
      {block name=content}{/block}
    </div>

    <footer class="footer">
      {include file="views/includes/footer.html"}
    </footer>

    {block name="beforeEnd"}{/block}
    {block name="postScripts"}{/block} {* per-page scripts that should be loaded at the end of the page *}
  </body>
</html>
